$color-black :#000;
$color-light-blue:blue;
.quilt-breadcrumb {
    display: flex;
    flex-direction: row;
    .quilt-breadcrumb-item {
      display: flex;
      flex-direction: row;
      color: $color-black;
      white-space: nowrap;
      .quilt-breadcrumb-divider {
        margin: 0 10px;
      }
      a {
        color: $color-black;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $color-light-blue;
          text-decoration: underline;
        }
      }
    }
  }
  
  @media screen and (max-width: 544px) {
    .quilt-breadcrumb {
      overflow-x: auto;
      min-height: 2rem;
    }
  }
  